html{
    background-color: rgb(255, 252, 245);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header{
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

header nav ul{
    list-style: none;
    display: flex;
    column-gap: 10px;
    text-transform: uppercase;
    color: white;
}

header img{
    width: 100px;
} */

/* .contenedor-flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 60px;
} */

/* .card{
    background-color: white;
    width: 810px;
    height: 610px;
    border-top: 3px solid red;
    overflow: hidden;
}

.card img{
    width: 100%;
    height: 450px;
    object-fit: contain;
} */

/* section h1{
    margin: 40px;
    font-size: 50px;
    text-align: center;
    background-color: #172030;
    color: white;
    padding: 22px 20px;
    justify-content: center;
} */

/* .tipo-de-noticia{
    color: rgba(105, 105, 105, 0.884);
    font-size: 12px;
} */

/* .contenedor-flex2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 60px;
} */

/* .card2{
    background-color: white;
    width: 350px;
    height: 380px;
    border-top: 3px solid red;
    overflow: hidden;
}

.card2 img{
    width: 100%;
    height: 200px;
    object-fit: cover;
} */

/* .card-text2{
    height: 150px;
    padding: 10px;
}

.card-text2 h2{
    font-size: 22px;
} */


/* header nav ul li a{
    text-decoration: none!important;
    color: white;
} */

/* .plantel-subtitulo{
    display: flex;
    justify-content: left;
    font-size: 38px;
    color: #141d2e;
    padding: 20px 45px 20px 45px;
} */

/* .cardj{
    background-color: white;
    width: 315px;
    height: 300px;
    border-top: 3px solid red;
    overflow: hidden;
}

.cardj img{
    width: 100%;
    height: 200px;
    object-fit: cover;
} */

/* .contenedor-jugadores{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: 60px;
} */

/* .card-jugador{
    height: 150px;
    padding: 10px;
    font-size: 21px;
}

.card-jugador h3{
    display: flex;
} */

/* footer{
    color: #172030;
}

.cardr{
    background-color: white;
    width: 300px;
    height: 350px;
    border: 3px solid red;
    overflow: hidden;
}

.cardr img{
    width: 100%;
    height: 277px;
    padding: 5px;
    object-fit: contain;
} */

/* .tienda-titulo{
    display: flex;
    justify-content: left;
    font-size: 38px;
    color: white;
    padding: 20px 45px 20px 110px;
    font-size: 55px;
    background-color: #172030;
} */

/* .card-tienda{
    height: 150px;
    padding: 10px;
    font-size: 15.4px;
}

.card-tienda h3{
    font-size: 17px;
}

.card-tienda h4{
    font-size: 16px;
} */

/* .subtitulo-tienda{
    display: flex;
    justify-content: center;
    font-size: 35px;
    color: #172030;
    padding-top: 20px;
} */

/* .prenda1{
    display: flex;
    justify-content: center;
    text-align: center;
} */

/* .plantel-titulo{
    display: flex;
    justify-content: center;
    font-size: 38px;
    color: white;
    padding: 20px 45px 20px 45px;
    font-size: 55px;
    background-color: #172030;
} */

/* .card-texthistoria{
    height: 150px;
    padding: 10px;
}

.card-texthistoria h2{
    text-align: center;
} */

/* nav a:hover {
    color: white;
    font-size: 25px;
    text-shadow: 5px 5px 10px white;
    cursor: pointer;
} */

/* .contenedor{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    margin: 1rem 3rem 3rem 3rem;
    gap: 1rem;
}

.contenedor div{
    height: 300px;
}

.contenedor div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "img1 img1 img1"
    "img2 img3 img3"
    "img4 img6 img5"
    ;
} */

/* .img-uno{
    grid-area: img1;
}

.img-dos{
    grid-area: img2;
}

.img-tres{
    grid-area: img3;
}

.img-cuatro{
    grid-area: img4;
}

.img-cinco{
    grid-area: img5;
}

.img-seis{
    grid-area: img6;
} */

/* .cardnh{
    background-color: white;
    width: 350px;
    height: 380px;
    border-top: 3px solid red;
    overflow: hidden;
}

.cardnh img{
    width: 100%;
    height: 200px;
    object-fit: contain;
} */

/* @media screen and (max-width: 768px){
    .contenedor{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
        "img1 img1"
        "img2 img2"
        "img3 img3"
        "img4 img5"
        "img6 img6"
        ;
    }

    .tienda-titulo{
        padding: 20px 0px 20px 25px;
    }
} */

/* @media screen and (max-width: 425px){
    .contenedor{
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
        "img1"
        "img2"
        "img3"
        "img4"
        "img5"
        "img6"
        ;
    } */

    /* .card{
        height: auto;
    }

    .card2{
        height: auto;
    }

    .card-text2{
        height: auto;
    }

    .contenedor-jugadores{
        height: auto;
    }

    .cardj{
        height: auto;
    }

    .card-texthistoria{
    height: auto;
}

    .cardnh{
        height: auto;
    }

    .card-tienda{
        height: auto;
        width: auto;
        justify-content: center;
    }

    .prenda1{
        height: auto;
        width: auto;

    }

    .cardr{
        height: auto;
    }

    .tienda-titulo{
        justify-content: center;
        padding: 20px 0px 20px 0px;
    }
} */

/* .menu-ul{
    align-items: center;
}

.menu-ul li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
}
 */

/* .menu{
    flex-grow: 0;
}

.menu-button{
    outline: none;
}

.menu-button:focus{
    box-shadow: none;
} */

/* .menu-fondo{
    background-color: red;
}

.menu-nav{
    padding: 0;
}

.menu-div{
    background-color: red;
}

.contenedor div img{
    border-radius: 6px;
    box-shadow: 12px 7px 25px 7px;
} */

.pie-de-pagina{
    width: 100%;
    background-color: #172030;
}

.pie-de-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-de-pagina .grupo-1 .footerbox figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-de-pagina .grupo-1 .footerbox figure img{
    width: 250px;

}

.pie-de-pagina .grupo-1 .footerbox h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-de-pagina .grupo-1 .footerbox p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-de-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 10px;
    margin-bottom: 5px;
    background-color: #1f2631;
    text-align: center;
}

.pie-de-pagina .grupo-2{
    background-color: #1f2631;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

@media screen and (max-width:800px){
    .pie-de-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 20px;
    }
}